.nav-tracker {
  background-color: var(--brand-color);
}

.nav-list {
  &:active {
    transform: scaleX(1.01);
  }

  :global(span) {
    &:hover {
      color: var(--text-face-1);
    }
  }
  &:global(:has(+ * .Mui-selected)) {
    & > span {
      color: var(--brand-color);
    }
  }

  &:global(.Mui-selected) {
    & > span {
      color: var(--brand-color);
    }
  }
}
