.nav-list {
  &:active {
    transform: scaleX(1.01);
  }

  &:hover {
    color: var(--text-face-1);
  }

  &:global(.selected) {
    color: var(--brand-color);
    background-color: transparent!important;
  }

  &:global(:has(+ * .selected)) {
    & > span {
      color: var(--brand-color);
    }
  }
}
